$mainColor:peru;




nav {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    li {
      height: 30px;
      text-align: center;
      &.active {
        background: gray;
        color:$mainColor;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
